

<footer>
    <div class="container">
        <p class="footer-info">© MP - MINIMAL PORTFOLIO
            <span class="social pull-right">
                <a href="#x"><i class="fa fa-facebook"></i></a>
                <a href="#x"><i class="fa fa-twitter"></i></a>
                <a href="#x"><i class="fa fa-instagram"></i></a>
            </span>
        </p>
    </div><!-- / container -->
</footer>